.guessed {
    color: green;
}

.cards {
    padding: 20px;
    width: 45%;

    border: 2px solid black;
    margin: 20px;
    text-align: center;
    background-color: black;
}

.clicked {
    background-color: white;
}

#gamepje {
    display: flex;
    flex-wrap: wrap;
}